/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.background{
    background-image: url("./assets/login_back.jpg");
    background-size: cover;
    background-position: center;
}
